# build output
dist/
# generated types
.astro/
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# pagefind
public/pagefind/

# environment variables
.env
.env.production
.drizzle.env

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
