@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    @apply mx-auto flex min-h-screen max-w-[1520px] flex-col px-8 pt-16 font-sans leading-10 tracking-tight text-3xl font-normal antialiased;
  }
}

html.dark {
  background-color: #000;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
