---
import BaseLayout from "@/layouts/Base";

const meta = {
	title: "404",
	description: "Oops! It looks like this page is lost in space!",
};
---

<BaseLayout meta={meta}>
  <h1 class="title mb-6">404 | That page doesn't exist!</h1>
  <div>
    <a href="/" class="main-link underline">Home</a>
  </div>
</BaseLayout>
