---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/Base.astro";
import PostPreview from "@components/PostPreview.astro";
import SocialList from "@components/SocialList.astro";
import { sortMDByDate } from "@data/posts.ts";

const MAX_POSTS = 10;
const allPosts = await getCollection("posts");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const v3Tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Satori",
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
	},
	{
		title: "Pagefind",
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
	},
	{
		title: "Astro Icon",
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey, I'm Frankie — </h1>
		<p class="mb-8 max-w-xl">
			<span class="mr-3">Founder of</span> 
			<a
				href="https://v3digital.studio"
				target="_blank"
				rel="noopener noreferrer"
				class="inline-block"
			>
			<button class="px-2 py-1 border border-black bg-transparent text-black  dark:border-white relative group transition duration-200">
				<div class="absolute -bottom-2 -right-2 bg-yellow-300 h-full w-full -z-10 group-hover:bottom-0 group-hover:right-0 transition-all duration-200" />
				<span class="relative">V3 Digital Studio</span>
			</button>	
			</a>
		</p>
		<p class="mb-4 max-w-xl">
			I've been a pixel perfectionist, research extraordinaire, performance obsessed, developer and designer for over 8 years. I have a passion for making the web a faster and more optimized experience for all. I run my own shop. I am currently seeking new clients.
		</p>
		<p class="mb-4 max-w-xl">
			Below is a glimpse into my journey and the experiences that have shaped my career.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p:any) => (
					<li class="flex flex-col sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				v3Tech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="main-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
