---
import { Image } from "astro:assets";
import { photos } from "@/data/photos";
---

<div class="grid grid-cols-1 gap-1 mb-24 sm:max-w-2xl sm:grid-cols-3 lg:max-w-[48rem]">
  <div class="p-4 space-y-2">
    <div>
      <a href={photos[0]!.link}>
        <Image width={1024} height={1755} class="h-auto max-w-full rounded-lg" src={photos[0]!.image} alt={photos[0]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[1]!.link}>
        <Image width={2592} height={1064} class="h-auto max-w-full rounded-lg" src={photos[1]!.image} alt={photos[1]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[2]!.link}>
        <Image width={2592} height={1064} class="h-auto max-w-full rounded-lg" src={photos[2]!.image} alt={photos[2]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[9]!.link}>
        <Image width={1024} height={1775} class="h-auto max-w-full rounded-lg" src={photos[9]!.image} alt={photos[9]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
  </div>
  <div class="p-4 space-y-2">
    <div>
      <a href={photos[3]!.link}>
        <Image width={927} height={1902} class="h-auto max-w-full rounded-lg" src={photos[3]!.image} alt={photos[3]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[4]!.link}>
        <Image width={1232} height={424} class="h-auto max-w-full rounded-lg" src={photos[4]!.image} alt={photos[4]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[5]!.link}>
        <Image width={1448} height={2592} class="h-auto max-w-full rounded-lg" src={photos[5]!.image} alt={photos[5]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[10]!.link}>
        <Image width={2592} height={1448} class="h-auto max-w-full rounded-lg" src={photos[10]!.image} alt={photos[10]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
  </div>
  <div class="p-4 space-y-2">
    <div>
      <a href={photos[6]!.link}>
        <Image width={1448} height={2492} class="h-auto max-w-full rounded-lg" src={photos[6]!.image} alt={photos[6]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[7]!.link}>
        <Image width={2592} height={1448} class="h-auto max-w-full rounded-lg" src={photos[7]!.image} alt={photos[7]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[8]!.link}>
        <Image width={1448} height={2492} class="h-auto max-w-full rounded-lg" src={photos[8]!.image} alt={photos[8]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
    <div>
      <a href={photos[11]!.link}>
        <Image width={1024} height={1775} class="h-auto max-w-full rounded-lg" src={photos[11]!.image} alt={photos[11]!.alt} loading="lazy" decoding="async" />
      </a>
    </div>
  </div>
</div>
