---
const socialLinks = [
  {
    friendlyName: "Github",
    link: "https://github.com/frankievalentine",
    path: "icons/github.svg",
  },
  {
    friendlyName: "Twitter",
    link: "https://twitter.com/v3frankie",
    path: "icons/twitter.svg",
  },
  {
    friendlyName: "LinkedIn",
    link: "https://linkedin.com/in/frankievalentine",
    path: "icons/linkedin.svg",
  },
  {
    name: "line-md:email-twotone",
    friendlyName: "email",
    link: "mailto:keen.song9641@fastmail.com",
    path: "icons/email.svg",
  },
];
---

<div class="flex">
  <ul class="flex items-center ml-0 mt-5 sm:flex-initial">
    {
      socialLinks.map(({ link, friendlyName, path }) => {
        const isEmail =
          friendlyName.includes("email") ||
          friendlyName.toLowerCase().includes("email");
        return (
          <li>
            <a
              class="inline-block mr-4 sm:hover:text-link"
              href={link}
              target="_blank"
              rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
            >
              {
              <img class="h-6 w-5" src={path} />
              }
              <span class="sr-only">{friendlyName}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
