---
import { Icon } from "astro-icon/components";
const socialLinks = [
	{
		name: "line-md:github-loop",
		friendlyName: "Github",
		link: "https://github.com/frankievalentine",
	},
	{
		name: "line-md:twitter-x",
		friendlyName: "Twitter",
		link: "https://twitter.com/v3frankie",
	},
	{
		name: "line-md:linkedin",
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/frankievalentine",
	},
	{
		name: "line-md:email-twotone",
		friendlyName: "email",
		link: "mailto:keen.song9641@fastmail.com",
	},
];
---

<div class="flex">
  <ul class="flex items-center ml-0 mt-5 sm:flex-initial">
    {
      socialLinks.map(({ link, name, friendlyName }) => {
        const isEmail =
          name.includes("email") ||
          friendlyName.toLowerCase().includes("email");
        return (
          <li class="flex">
            <a
              class="inline-block mr-4 sm:hover:text-link"
              href={link}
              target="_blank"
              rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
            >
              {
                <Icon
                  class="h-6 w-5"
                  name={name}
                  aria-hidden="true"
                  focusable="false"
                />
              }
              <span class="sr-only">{friendlyName}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
