---
import type { SiteMeta } from "src/utils/types";
import HeadIndex from "@components/HeadIndex.astro";
import ThemeProvider from "@components/ThemeProvider.astro";
import Header from "@components/layout/Header.astro";
import Footer from "@components/layout/Footer.astro";
import SkipLink from "@components/SkipLink.astro";
import { siteConfig } from "@site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description},
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<HeadIndex title={title} description={description} />
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>