---
import BaseLayout from "@/layouts/Base";
---

<BaseLayout meta={{ title: "Posts" }}>
  <article class="flex-grow break-words pt-24" data-pagefind-body>
    <div class="prose dark:prose-dark max-w-xl">
      <slot />
    </div>
  </article>
</BaseLayout>
