@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    @apply mx-auto flex min-h-screen max-w-[1520px] flex-col px-8 pt-16 font-sans leading-10 tracking-tight text-3xl font-normal text-textColor antialiased;
  }
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Regular") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
